body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 247, 249);
}

h1{
    color: hsl(223, 88%, 47%);
}

form{
    background-color: hsl(0 , 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8) ;
    border-radius: 4px;
    margin-bottom: 15px;

}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(85, 194, 213);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(3, 136, 143);
}

#result{
    font-size: 1.7em;
    font-weight: bold;
}